<!-- TODO: edit margins and such for post and make sure good for mobile and tablet as well -->
<!-- TODO: make a way to go back to current version for version 2 - currently unable to get to version 2 from version 1-->
<!DOCTYPE html>
<html lang="en">
  {{template "head"}}
  <body>
    <header>
      <h1>My Blog Version 2</h1>
      {{template "nav"}}
    </header>
    {{template "article"}}
    {{template "footer"}}
  </body>
</html>
