* {
  margin: 0;
  padding: 0;
}

.header-h1 {
  background-color: #5cb338;
  /* color: #5cb338; */
  color: white;
}

nav {
  background-color: white;
  /* display: flex;
  gap: 0; */
  font-size: 20px;
}

nav a {
  display: block; /* each link takes a whole line */
}

nav a:link,
nav a:visited,
nav a:active {
  text-decoration: none;
  /* color: #5cb338; */
  color: black;
}

nav a:hover {
  text-decoration: underline;
  /* color: #5cb338; */
  color: black;
}

.header-h2 {
  background-color: #5cb338;
  /* color: #5cb338; */
  color: white;
}

.container-img1 {
  display: block;
  background-color: #5cb338;
  line-height: 0;
}

.header-post-title {
  background-color: #5cb338;
  /* color: #5cb338; */
  color: white;
  font-size: 20px;
}

.email:link,
.email:visited,
.email:active {
  text-decoration: none;
  color: white;
}

.email:hover {
  text-decoration: underline;
}

.container-img2 {
  display: block;
  background-color: #5cb338;
  line-height: 0;
}

.header-post-body {
  background-color: #5cb338;
  color: white;
  font-size: 20px;
}

footer {
  background-color: #5cb338;
  color: white;
  font-size: 16px;
  text-align: center;
}

ul {
  background-color: #5cb338;
  padding-left: 20px;
  font-size: 20px;
}

ul li::marker {
  color: white;
}

li a:link,
li a:visited,
li a:active {
  text-decoration: none;
  color: white;
}

li a:hover {
  text-decoration: underline;
}

.footer-archive footer {
  background-color: #5cb338;
  color: white;
}

section .container-about-img {
  background-color: #5cb338;
  line-height: 0;
}

section p {
  background-color: #5cb338;
  color: white;
  font-size: 20px;
}

.footer-about footer {
  background-color: #5cb338;
  color: white;
}
