<!DOCTYPE html>
<html lang="en">
  {{template "head"}}
  <body>
    <div class="container">
      <header>
        <h1 class="header-h1">My Blog Version 4</h1>
        {{template "nav"}}
      </header>
      <section>
        <h2 class="header-h2">Archive</h2>
        <ul>
        {{range .}}<li><a href="{{.Directory}}">{{.Version}}</a>
        {{end}}
        </ul>
      </section>  
      <div class="footer-archive">
        {{template "footer"}}
      </div>
    </div>
  </body>
</html>