<!--TODO: style rest of content(bottom half)
-->
<!-- DONE:  changed colors
            added psuedo classes
            added hyperlink styles
            addded classes "header-h1" and "header-h2"
-->
<!DOCTYPE html>
<html lang="en">
  {{template "head"}}
  <body>
    <header>
      <h1 class="header-h1">My Blog Version 4</h1>
      {{template "nav"}}
    </header>
    {{template "article"}}
    {{template "footer"}}
  </body>
</html>
